// Layout for using rust

layout {
	tab name="Rust" split_direction="vertical" {
		pane {
			command "hx"
			args "."
			size "80%"
			focus true
		}
		pane {
			size "20%"
			split_direction "horizontal"
			pane {
				name "Clippy"
				command "bacon"
				args "clippy"
				size "35%"
			}
			pane {
				name "Bacon Test & Run"
				command "bacon" 
				args "test"
				size "35%"
			}
			pane {
				name "Misc Commands"
			}
		}
	}
}

